modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[workflows]
runButton = "Project"

[agent]
stack = "NODEJS"
expertMode = true

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 25988
externalPort = 3000
